/* button{ */
/* .black-button{
    background-color: black;
    color: white;
    border: none;
} */
/* button is called css selector-selects which elements to change */
/* 
.red-button{
    background-color: red;
    color: white;
    border: none;
} */



.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}